# Director is currently unpublished, this pulls in director from git sources
-e git+https://github.com/cloudnull/directord.git@main#egg=directord

pbr!=2.1.0,>=2.0.0
taskflow
pyyaml
stevedore
ansible_runner
